/* changes */


.about-map{
  width: 50%;
  height: 50%;
  float: right;
  margin-left: 5%;
  box-shadow: 10px 10px 10px 5px #ccc;
}


p{
  width: 15em;
  text-align: justify;
  content: open-quote;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 580px) {

  .about-map{
    width: 50%;
    height: 50%;
    float: right;
    padding-left: 5%;
    box-shadow: none;
  }


}
