body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  text-align: center;
}
a {
  color: #0060B6;
  text-decoration: none;
}
a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}
.container-body{
    max-width: 980px;
    margin: auto;
}

.pbtn {
  position: relative;
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.pbtn:before, .pbtn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

/* Raised effect – pushes up on hover */
.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paper-raise:hover {
  border: 1px solid #fff;
}
.paper-raise:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.paper-raise-flatten {
  border-color: #fff;
  box-shadow: none;
}
.paper-raise-flatten:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.paper-raise-flatten:hover {
  border-color: #dedede;
}
.paper-raise-flatten:hover:before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}
.pbtn[disabled] {
  /* don't let button block mouse events from reaching wrapper */
  opacity: 0.3;
  pointer-events: none;
}