.shop_products {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
.product_1 {
    width: 50%;
    height: 200px;
    float: left;
}
.product_2 {
    margin-left: 10%;
    height: 200px;
}
.basic-kit , .delux-kit{
  width: 250px;
  height: 200px;
  border: 2px solid rgb(170, 170, 170);

}

.purchase-btn{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-top: 1em;
  outline: none;
  border-width: 5px;
}

.purchase-btn:hover{
  border-color: rgb(3, 100, 20, .8);
  color: #E54C01;
  transition: 1s;
}
.purchase-btn:active{
  background-color: #FFAB80 ;
  transition: 0s;

}
